<h1>Eat Da Burger</h1>

<h2>Burgers you can eat</h2>

<ul>
  {{#each burgers}}
    
    {{#unless devoured}}
      <p>{{this.id}}. {{this.burger_name}}
      	<button class="change-devour" data-id="{{id}}" data-newdevour= "true" >
		DEVOUR IT!
	</button>
    </p>
    {{/unless}}
    
  {{/each}}
</ul>

<h2>Burgers you have eaten!</h2>


<ul>
  {{#each burgers}}
    {{#if devoured}}
      <p>{{this.id}}. {{this.burger_name}}</p>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button id="add_burger">Add Burger</button>
</form>

